footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a(href="#") About us
        li: a(href="#") Download apps
        li: a(href="#") Download appsBecome a guide
        li: a(href="#") Careers
        li: a(href="#") Contact
    p.footer_copyright &copy; Content of this project is belong to Pawan Chaudhary; This is for testing purpose and education.